<h1> Shows One Item </h1>

<%= @url['link'] %> <a href="/urls/go/<%=@url['random_string']%>"> <%= @url['random_string'] %> </a></br>

<a href="/">CREATE ANOTHER RIT</a></br>
<a href="/urls">VIEW ALL RESULTS</a>

<%= link_to "Create Another Rit", new_url_path %>
<%= link_to "View All Rits", urls_path %>