<h1> Yo Rit </h1>

<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th>ID</th>
			<th>URL</th>
			<th>Random String</th>
			<th>Instructions</th>
		</tr>	
	</thead>
	  <tbody>
	  	<tr>
	  	  <td><%=@url.id%></td>
	  	  <td><%=@url['link']%></td>
	  	  <td><%=@url['random_string']%></td>
	  	  <td>Please Paste localhost:3000/urls/go/<%=@url.id%> into your browser.</td>	
	  	</tr>
	  </tbody>
</table>	

<%= link_to "Create Another Rit", new_url_path %></br>
<%= link_to "View All Rits", urls_path %>