<body class="edit">

<h2>Edit your link:</h2>
<br />
<%= form_for @url do |f| %>

  <%= label_tag(:link, "Original Link:") %>
  <%= f.text_field :link%></br>

  <%= label_tag(:random, "Short link:") %>
  <%= f.text_area :random %></br>

  <%= f.submit "Update", :class => "btn btn-info" %>
<% end %>
<br />

 <!--  <%#= link_to "View Link", url_path, :class => "btn btn-primary" %> -->
	<!-- <br/>
  	<br /> -->

  <%= link_to "Home", '/', :class => "btn btn-success" %>

</body>