<h1 class="wow">Ritly</h1>

<div class="animated @keyframes bounceInRight" id="box">
<h3 class="text"> Its time to edit the <em> Ritly</em>.. </h3>
  <%= form_for @url do |f| %>
  <%= f.text_field :link, :class => "form-control" %>
  <%= f.submit "RE-RITTLE", :class =>"btn btn-lg btn-warning" %>
<% end %>

 <%= link_to "HOME PAGE",  root_path, :class => "btn btn-lg btn-info"   %>
 <%= link_to "NEW PAGE", new_url_path, :class => "btn btn-lg btn-success"   %>
</div>

