
<h2 style="text-align:center">Edit your link:</h2>
<br />
<div class="col-md-4 col-md-offset-4"
<%= bootstrap_form_for @url do |f| %>

  <%= label_tag(:link, "Original Link:") %>
  <%= f.text_field :link, hide_label: true%></br>

  <%= label_tag(:random, "Short link:") %>
  <%= f.text_field :random, hide_label: true %></br>

  <%= f.submit "Update", :class => "btn btn-default" %>
<% end %>
<br />

