<body class="results">

<h1>Your Ritly's</h1>

<%= link_to "Make a new Ritly", '/', :class => "btn btn-success" %>

<br />
<br/ >

<table style="margin:auto;">
  <tr>
    <th>Original Link:</th>
    <th>Short Link:</th>
    <th>Created at:</th>
    <th>Updated at:</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>

<%@url.each do |url| %>
	<tr>		
<td><%=url.link %> </td>
<td><%= link_to url.random, go_path(url.random), :class => "btn btn-default" %> </td>
<td><%= url.created_at %> </td>
<td><%= url.updated_at %> </td>

<td><%= link_to "Delete", url, method: :delete, data: { confirm: "You sure?" }, :class => "btn btn-danger"%></td>

<td><%= link_to "Edit", edit_url_path(url[:id]), :class => "btn btn-info"%></td>
</tr>

<%end%>
</table>
<br />

</body>