<h1> Your random generated link is:</h1>

<h2> <%= @url.random_string %> </h2>

<p>Links you to:  <em><%= @url.link %></em> </p>

<p>Put localhost:3000/go/<%= @url.random_string %> in the browser to go to your site</p>

<%= link_to "Oops wrong url", edit_url_path(@url.id) %>

<a href= '/'>Here is a preview</a>

<% if @url.link.start_with?('http://') == true || @url.link.start_with?('https://') == true %>
  
  <%= link_to "Your site", (@url.link) %> 

<% else %>
    
    <a href= "http:///<%=@url.link%>">Go to your site</a>

<% end %>

<%= link_to "Main Page", new_url_path %>

