<h2>Edit Link</h2>

<%= form_for @url do |f| %>
	<%= label_tag(:link, "Link") %>
	<%= f.text_field :link, :class => "form-control" %>
<button type="button" class="btn btn-warning btn-sm"><%= f.submit "Update" %></button>
 
<% end %></br></br>



<%= form_for @url do |f|  %>
	<button type="button" class="btn btn-danger btn-sm"><%=  link_to "Delete", @url, method: :delete, data: { confirm: "You sure?" }  %></button>
<% end %></br></br>

<button type="button" class="btn btn-warning btn-sm"><%= link_to "Back To Home",root_path%></button>