<div class="container">
  <h1>Ritly</h1>
  <h3>Enter the url you want a shortcut to</h3>
  <div class="form1">
    <div class="row">
      <div class="col-xs-12">
        <%= form_for @url do |f| %>
        <%= label_tag(:link, "URL:") %>
        <%= f.text_field :link, :placeholder => "Enter URL here" %>
      </div>
    </div>
      <div id="button1">
        <%= f.submit "Shorten" %>
      </div>
        <% end %>
  </div><br>
<h2> OR..</h2>
<h3>Enter your url and create your own link</h3>
  <div class="form2">
        <%= form_for @url do |f| %>
        <div id="url2">
          <%= label_tag(:link, "URL:") %>
          <%= f.text_field :link, :placeholder => "Enter URL here" %>
        </div>
        <br>
        <div class="random_string_form">
          <%= label_tag(:random_string, "Your link:") %> 
          <%= f.text_area :random_string, :placeholder => "Enter your shortcut" %>
        </div>
            <div class="button">
              <%= f.submit "Shorten" %>
            </div>
        <% end %>
</div>
