<h2> Ritly</h2>

<%= form_for @url do |f| %>
  
  <%= label_tag(:link, "Link:") %>
  <%= f.text_field :link, :value => "http://www."%>
  <%= f.hidden_field :random_string, :value => SecureRandom.urlsafe_base64(5)%>
  <button type="button" class="btn btn-warning btn-sm"><%= f.submit "Create Shortened Link" %></button>
<% end %></br></br>




<button type="button" class="btn btn-warning btn-sm"><%= link_to "See All Links", urls_path%></button>