<h1> Ritly</h1>
<!--
def new
		@url = Url.new
def create
		@url = Url.create url_params
		redirect_to url_path(@url)-->

<%= form_for @url do |f| %>
  
  <%= label_tag(:link, "Link:") %>
  <%= f.text_field :link, :value => "http://www."%>
  <%= f.hidden_field :random_string, :value => SecureRandom.urlsafe_base64(3)%>
  <input class="btn btn-default" type="submit" value="Create Shortened Link">
<% end %></br></br>

<button type="button" class="btn btn-warning btn-sm"><%= link_to "See all Links", urls_path%></button>