<h2> home: make a shortened url (new/root)</h2>

<%= form_for @url do |f| %>
  
  <%= label_tag(:link, "Link:") %>
  <%= f.text_area :link %>
  <%= f.hidden_field :random_string, :value => SecureRandom.urlsafe_base64(5)%>
  <%= f.submit "Create Shortened Link" %>
<% end %></br></br>

<%= link_to "See All Links",urls_path%>