<h2>Link Details(show)</h2>

<p>Original Link: <%= @url.link %></p>
<p>Shortened Link: <a href="/urls/go/<%=@url.random_string%>"><%=@url.random_string%></a></p>

<%= link_to "Edit or Delete",edit_url_path %></br></br>
<%= link_to "Back To Home",root_path%>