<div class="container">
<h1>Edit Your URL</h1>
<hr></hr>
<%= form_for @rit do |f| %>

  <h2><%= label_tag(:link, "Link:") %></h2>
  <%= f.text_field :link %></br>

  <%= f.submit "Update",:class => "btn btn-info" %>
  <%= link_to "Delete", @rit, method: :delete, data: { confirm: "You sure?" }, :class => "btn btn-danger"%>
	  <br></br>
<% end %>
<div>