<div class="container">
	
	<h1>ritly</h1>

	<% link = @rit.random %>
	<p>Your URL: <%= @rit.link%> </p>
	<a class="link">Shortened link: <%= link_to link, go_path(@rit.random), :target => "_blank", :class => "btn btn-default" %></a>
<br></br>
<div class="btn-group">
  <button type="button" class="btn btn-default"><%= link_to "home", rits_path %></button>
  <button type="button" class="btn btn-default"><%=link_to "edit URL", edit_rit_path%></button>
  <button type="button" class="btn btn-default"><%= link_to "history ", new_rit_path %></button>
</div>
<br></br>
	<img src="http://api.webthumbnail.org?width=750&height=400&screen=1024&url=<%=@rit.link%>">
