<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= form_for @url do |f| %>
		<h3><%= label_tag(:link, "What link would you like to ritly today?") %></h3>
		<p><%= f.text_field :link, :class => "form-control input-6-lg" %></p>
		</br>
		<p><%= f.submit "Shorten", :class => "btn btn-info"%></p>	
		<% end %> <br>
		<p><%= link_to "View all Ritlies", new_url_path, :class => "btn btn-success"%></p>
	</div>
</div>
 

		


