<span class="col-xs-12 col-lg-3 update">

<% full_url = "localhost:3000/go/" + @url[:random_string] %>
<h4><%= link_to full_url, redirect_url_path(@url) %> currently directs to <%= @url[:link] %></h4>

<%= form_for @url do |f| %>
	change destination <%= f.text_field :link %><br><br>
	change rit.ly link <%= f.text_field :random_string %><br><br>
	<%= f.submit "update" %>
<% end %>
<br>
</span>

<span class="col-xs-12 col-lg-9 preview">
<iframe src="<%= @url[:link] %>">
	sorry, your destination page could not be displayed.
</iframe>
</span>