<h4>create a new shortened url</h4>
<br>

<%= form_for @url do |f| %>
	<%= f.url_field :link %>
	<%= f.text_field :random_string, value: "#{SecureRandom.urlsafe_base64(6)}" %>
	<%= render 'shared/error_messages' %>
	<%= f.submit "create" %>
<% end %>